/* app/page.module.css */

.hero {
  background: linear-gradient(to bottom right, #f0f4f8, #e0e7ed); /* Example subtle gradient */
  padding: 4rem 0;
  text-align: center;
}

.heroContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.heroContent {
  max-width: 800px;
  margin: 0 auto;
}

.heroTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.heroSubtitle {
  font-size: 1.25rem;
  color: #555;
  margin-bottom: 2rem;
}

.heroButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem; /* Added some spacing above the buttons */
}

.heroButtonPrimary {
  background-color: #007bff;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.heroButtonPrimary:hover {
  background-color: #0056b3;
}

.heroButtonSecondary {
  background-color: #f8f9fa;
  color: #333;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: 1px solid #ddd;
}

.heroButtonSecondary:hover {
  background-color: #e9ecef;
}

.heroImageContainer {
  margin-top: 3rem;
  border-radius: 50%;
  overflow: hidden;  ;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  /* background-color: #f0f0f0; Keep previous styles */
}

.cardContainer {
  margin-top: 3rem;
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  gap: 20px; /* Add space between cards */
  justify-content: center; /* Center the cards horizontally */
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.9); /* Optional: Add shadow to the container */
  background-color: rgb(207 243 255 / 0.5);
  border-radius: 8px; /* Optional: Add rounded corners to the container */
  width: 80vw;;
}
.heading {
  width: 75vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.9); /* Optional: Add shadow to the container */
  background-color: #e3f6fc;
  color: #313233;
  border-radius: 8px; /* Optional: Add rounded corners to the container */
}

.heading > h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}
.heading > p {
  text-align: center;
}

/* Keep your existing .title, .description, etc., styles here */
